tr.HasAlreadyAired {
	background-color: lightskyblue !important;
	color: white !important;
}

tr.AirsToday {
	background-color: lightcoral !important;
	color: white !important;
}

tr.IsFinished {
	background-color: green !important;
	color: white !important;
}

.HasAlreadyAired>td, tr.AirsToday>td, tr.IsFinished>td {
	background-color: transparent !important;
}

td.DeleteButton {
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.AiredMessage {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: white;
	
	/* Safari */
	-webkit-transform: rotate(-30deg);
	/* Firefox */
	-moz-transform: rotate(-30deg);
	/* IE */
	-ms-transform: rotate(-30deg);
	/* Opera */
	-o-transform: rotate(-30deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}