.clickable {
	cursor: pointer;
}

/* .table-striped>tbody>tr:nth-of-type(odd) {
	background-color: lightblue;
} */

.table-hover tbody tr:hover td, .table-hover tbody tr:hover td a, .table-hover tbody tr:hover th, .theader-dark {
	background-color: #337ab7;
	color: white !important;
}

th, td {
	text-align: center;
}

.SearchWrapper {
	margin-bottom: 16px;
}

.InputName {
	width: 50%;
	height: 40px;
	padding: 8px;
  margin-right: 8px;
  vertical-align: middle;
}

.InputNumber {
	width: 7% !important;
	height: 40px;
	padding: 8px;
  margin-right: 8px;
  vertical-align: middle;
}

.SearchButton {
	height: 40px;
	margin-right: 8px;
}

.HasAlreadyAired {
	background-color: lightskyblue !important;
	color: white !important;
}

tr.AirsToday {
	background-color: lightgreen !important;
	color: white !important;
}

tr.IsFinished {
	background-color: goldenrod !important;
	color: white !important;
}
.HasAlreadyAired>td, tr.AirsToday>td, tr.IsFinished>td {
	background-color: transparent !important;
}

.AiredMessage {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: white;
	
	/* Safari */
	-webkit-transform: rotate(-30deg);
	/* Firefox */
	-moz-transform: rotate(-30deg);
	/* IE */
	-ms-transform: rotate(-30deg);
	/* Opera */
	-o-transform: rotate(-30deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* AddSeries form */
.AddSeries__Wrapper {
	text-align: center;
}

.AddSeries__InputGroup {
	margin: 8px;
}

.AddSeries__Label {
	width: 15%;
	text-align: right;
}

.AddSeries__Input {
	width: 70%;
	height: 40px;
	padding: 8px;
  vertical-align: middle;
}

.AddSeries__Button {
	width: 45%;
	height: 40px;
}