/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

.clickable {
	cursor: pointer;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover td a, .table-hover tbody tr:hover th, .theader-dark {
	background-color: #337ab7;
	color: white !important;
}

th, td {
	text-align: center;
}

.ErrorMessageBox {
  padding: 6px;
  border-radius: 20px;
  background-color: lightcoral;
  font-size: 14px;
  text-align: center;
  color: white;
}

.ComponentTitle {
  margin-bottom: 6px;
  font-size: 28px;
  font-weight: 600;
}

.AppTableHeader {
  @extend .theader-dark;
}