/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';

.clickable {
	cursor: pointer;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover td a, .table-hover tbody tr:hover th, .theader-dark {
	background-color: $blue-color;
	color: white !important;
}

th, td {
	text-align: center;
}

.ComponentTitle {
  margin-bottom: 6px;
  font-size: 28px;
  font-weight: 600;
}

.AppTableHeader {
  @extend .theader-dark;
}

.BaseButton {
  background-color: $blue-color;
	color: white !important;
}
