.Watchlist__Title Watchlist

//-               TABLE                   -//
.Watchlist__TableWrapper
  table.Watchlist__Table
    thead.Watchlist__TableHeader
      tr
        th
        th
        th Title
        th S
        th E
        th Next Airing

    tbody.Watchlist__TableBody
      tr(
        '*ngFor'="let series of watchList; let i=index"
        '[attr.data-index]'="i"
        '(click)'="!isFinished(series) ? selectSeries(i) : undefined"
        '[ngClass]'="getWatchlistClasses(series)"
      )
        td.DeleteButton('(click)'="removeSeries(i)") X
        td('[ngClass]'="{'InfoAiredMessage': !!getAiredMessage(series)}") {{ getAiredMessage(series) }}
        td.InfoSeriesName {{ series.name }}
        td {{ getSeriesNumberValue(series.season) }}
        td {{ getSeriesNumberValue(series.episode) }}
        td.InfoBoxNextAiring
          div {{ !!getNextAiringEpisodeDate(series) ? (getNextAiringEpisodeDate(series) | date) : '-' }}
          div {{ getNextAiringEpisodeTitle(series) }}
