h3(style="text-align:center") Add series:

form('[formGroup]'="addSeriesForm")
  .AddSeries__Wrapper

    .AddSeries__InputGroup
      label.AddSeries__Label Name
      input.AddSeries__Input(type="text" formControlName="inputName" required)

    .AddSeries__InputGroup
      label.AddSeries__Label Wiki link
      input.AddSeries__Input(type="text" formControlName="inputWikiLink" required)

    .AddSeries__InputGroup
      button.AddSeries__Button(class="btn btn-primary" '(click)'="addToWatchlist()") Add to watchlist
      button.AddSeries__Button(class="btn btn-primary" '(click)'="updateMySeries()") Upload watchlist
