.AddSeries__Title Add series:

.AddSeries__FormWrapper
  form('[formGroup]'="addSeriesForm")

    .AddSeries__InputGroup
      label.AddSeries__InputGroupLabel Name
      input.AddSeries__InputGroupField(type="text" formControlName="inputName" required)

    .AddSeries__InputGroup
      label.AddSeries__InputGroupLabel Wiki link
      input.AddSeries__InputGroupField(type="text" formControlName="inputWikiLink" required)

    .AddSeries__InputGroup
      button.AddSeries__InputGroupButton('(click)'="addToWatchlist()") Add to watchlist
      button.AddSeries__InputGroupButton('(click)'="uploadWatchlist()") Upload watchlist
