//-                  Title                   -//
div(style="text-align:center")
  h1 Welcome to {{ 'sto cazzo' }}!


//-             Search torrent               -//
div(style="float:left; width:60%; margin:12px")
  app-search-torrent(
    '[updateMySeries]'="updateMySeries"
    '[currentSeriesIndex]'="currentSeriesIndex"
    '[searchForm]'="searchForm"
    '[watchList]'="watchList"
  )


//-            My tv series list            -//
div(style="float:right; width:33%; margin:12px")
  app-watchlist(
    '[selectSeries]'="selectSeries"
    '[watchList]'="watchList"
  )

  //-             Add series form               -//
  app-add-series-form(
    '[updateMySeries]'="updateMySeries"
    '[addSeriesForm]'="addSeriesForm"
    '[watchList]'="watchList"
  )
  
