//-                  Title                   -//
div(style="text-align:center")
  h1 Welcome to {{ 'sto cazzo' }}!


//-             Search torrent               -//
div(style="float:left; width:50%; margin:18px")

  //-             Search form               -//
  form('[formGroup]'="searchForm")
    h3 Scavenge your tv series:

    .SearchWrapper
      input.InputName(type="text" formControlName="inputName" required)
      input.InputNumber(style="width:32px" type="number" value="8" formControlName="inputSeason" required)
      input.InputNumber(style="width:32px" type="number" value="5" formControlName="inputEpisode" required)
      button.SearchButton(class="btn btn-primary" '(click)'="searchBtnAction()") Search!
      button.SearchButton(class="btn btn-primary" '(click)'="updateMySeries()") Update my series!

  //-             Search results               -//
  table(style="width:100%" class="table table-striped table-hover")
    thead(class="theader-dark")
      tr
        th Torrent
        th Size
        th Seeders
        //- th Date

    tbody
      tr('*ngFor'="let res of searchResult; let i=index" '[attr.data-index]'="i")
        td(style="text-align:left !important")
          a('[href]'="getMagnetLink(res)") {{ getMagnetTitle(titleResult[i]) }}
        td {{ getMagnetSize(sizeResult[i]) }}
        td {{ getMagnetSeeders(seedersResult[i]) }}
        //- td {{getMagnetDate(dateResult[i])}}

  div(style="text-align:center") {{ errorMessage }}


//-            My tv series list            -//
div(style="float:right; width:30%; margin:18px")

  h3(style="text-align:center") Watchlist

  //-               table                   -//
  table(class="table table-striped table-hover")
    thead(class="theader-dark")
      tr
        th
        th Title
        th S
        th E
        th Next Airing

    tbody
      tr(
        '*ngFor'="let series of mySeriesList; let i=index"
        '[attr.data-index]'="i"
        '(click)'="selectSeries(series, i)"
        '[ngClass]'="getWatchlistClasses(series)"
      )
        td.AiredMessage {{ getAiredMessage(series) }}
        td(style="text-align:left !important") {{ series.name }}
        td {{ getSeriesNumberValue(series.season) }}
        td {{ getSeriesNumberValue(series.episode) }}
        td(style="text-align:center; font-size: 12px")
          div {{ getNextAiringEpisodeDate(series) | date }}
          div {{ getNextAiringEpisodeTitle(series) }}
