//-                     TITLE                         -//
.App__MainTitle My Tv Series


//-             SEARCH TORRENT COMPONENT              -//
.App__SearchTorrentWrapper
  app-search-torrent(
    '[triggerError]'="triggerError"
    '[uploadCurrentSeries]'="uploadCurrentSeries"
    '[currentSeriesIndex]'="currentSeriesIndex"
    '[searchForm]'="searchForm"
    '[watchList]'="watchList"
  )
  
  //-                   STATUS BOXES                  -//
  .ErrorMessageBox('[hidden]'="!errorMessage") {{ errorMessage }}


//-                WATCHLIST COMPONENT                -//
.App__WatchlistWrapper
  app-watchlist(
    '[selectSeries]'="selectSeries"
    '[triggerError]'="triggerError"
    '[watchList]'="watchList"
  )

  //-             ADD SERIES COMPONENT                -//
  app-add-series-form(
    '[uploadWatchlist]'="uploadWatchlist"
    '[addSeriesForm]'="addSeriesForm"
    '[watchList]'="watchList"
  )
